{% extends 'base_accounts.html' %}
{% load static %}

{% block head %}
<link href="{% static 'css/base_account.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}<title>Log In</title>{% endblock %}

{% block body %}

<!-- Icon -->
<div class="fadeIn first">
  <div class="account__logo">
  <img
    src="{% static 'images/new_logo.svg' %}"
    id="icon"
    alt="User Icon"
  />
  </div>
</div>

<div>
  <div class="form-header">
    <div class="bold-text">Log in to your account</div>
    <div class="lite-text">Welcome back! Please enter your details.</div>
  </div>
  <form id="form-body" method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}

    <div>
      <div id="login" class="inputText fadeIn">
        {{ form.username.label_tag }}{{ form.username }}
      </div>
      <div id="password" class="inputText fadeIn">
        {{ form.password.label_tag }}{{ form.password }}
      </div>
    </div>
    
    <div class="remember-me">
      <div>        
        <label for="remember_me">
          <input id="remember_me" type="checkbox"/> &#160;
          Remember me 
        </label>
      </div>
      <div>
        <a class="link-text" href="{% url 'accounts:reset_password' %}">Forgot password?</a>
      </div>
    </div>

    <div class="buttons">
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="submit" class="submit-button" value="Sign In" />
    </div>
    {% comment %} <a href="{% url 'accounts:register' %}" class="sing-up-button-section">
      <div type="submit" class="sing-up-button">Create New Account</div>
    </a> {% endcomment %}
  </form>
</div>
{% endblock %}
