{% extends 'base_accounts.html' %}

{% block title %}<title>Reset password done</title>{% endblock %}

{% block body %}
<div>
    <div class="form-header">
      <div class="bold-text">Reset your account</div>
    </div>
    <div id="form-body">  
        <div>
            <span class="blue-text">
                New password was sent to your E-mail.Please check it!
            </span>
            <br/><br/>
            <span class="blue-text">
                 Don't forget to check your spam as well!
            </span>
        </div>        
      <div class="buttons">
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" onclick="window.location='/login/';" class="submit-button" value="Sign In" />
      </div>
    </div>
  </div>
{% endblock %}
