{% extends 'base_accounts.html' %}

{% block title %}<title>Create new password</title>{% endblock %}

{% block body %}
{% if validlink %}
<form method="post">
  {% csrf_token %}
  <div id="password" class="inputText fadeIn second">{{ form.new_password1.label_tag }}{{ form.new_password1 }}</div>
  <div id="password" class="inputText fadeIn second">{{ form.new_password2.label_tag }}{{ form.new_password2 }}</div>
  <input type="hidden" name="next" value="{{ next }}" />
  <input type="submit" class="primary-button w-100" value="Continue" />
</form>
{% else %}
<div class="inputText fadeIn second">The password reset link was invalid.</div>
<input type="submit" class="secondary-gray-button w-100 mt fadeIn fourth" onclick="window.location='/login/';" value="Log In" />
<input type="button" class="primary-button mt-2 w-100 input fadeIn fourth" onclick="window.location='/reset_password/';" value="Resend" />
{% endif %}
{% endblock %}
