{% extends 'base_accounts.html' %}

{% block title %}<title>Reset password</title>{% endblock %}

{% block body %}

<div>
  <div class="form-header">
    <div class="bold-text">Reset your account</div>
    <div class="lite-text">Please enter your email to reset your password.</div>
  </div>
  <form id="form-body" method="post" action="{% url 'accounts:reset_password' %}">
    {% csrf_token %}

    <div>
      <div id="login" class="inputText fadeIn">
        {{ form.email.label_tag }}{{ form.email }}
      </div>      
    </div>
        
    <div class="reset-pass-button">
      <input type="hidden" name="next" value="{{ next }}" />
      <div>
        <input type="button" onclick="history.back();" class="back-button" value="Back" />
      </div>
      <div>
        <input type="submit" class="submit-button" value="Reset password" />
      </div>
    </div>
  </form>
</div>

{% endblock %}
