{% extends "base_client_portal.html" %}
{% block title%}
    <title>CiteMed - Event Details </title>
{% endblock %}
{% block head %}
    {% load static %}
    <link
    href="{% static 'css/client_portal/event_details.css' %}"
    rel="stylesheet"
    type="text/css"
    />
{% endblock %}

{% block body %}
<div class="content__container" id="content">
    <div class="sub-navbar-home">
        <div class="sub-navbar-home-item-text">
            Event Details - {{ event.search.literature_review }}
        </div>
    </div>
    <div class="project-detail-section">
        <div class="project-detail-section-header">
            <div class="project-detail-section-header-item">
                <span class="project-detail-section-header-item-bold">Database:</span> {{ event.search.db.name }}
            </div>
            <div class="project-detail-section-header-item">
                <span class="project-detail-section-header-item-bold">Event Type:</span> AE
            </div>
            <div class="project-detail-section-header-item">
                <span class="project-detail-section-header-item-bold">Event Number Full:</span> 
                {% if  event.ae.event_number_full  %}
                    {{ event.ae.event_number_full }}
                {% else %}
                    N/A 
                {% endif %} 
            </div>
            <div class="project-detail-section-header-item">
                <span class="project-detail-section-header-item-bold">Event Number Short:</span> 
                {% if  event.ae.event_number_short  %}
                    {{ event.ae.event_number_short }}
                {% else %}
                    N/A 
                {% endif %}
            </div>
            <div class="project-detail-section-header-item">
                <span class="project-detail-section-header-item-bold">Event Description:</span> 
                {% if  event.ae.description  %}
                    {{ event.ae.description }}
                {% else %}
                    N/A 
                {% endif %}
            </div>
            <div class="project-detail-section-header-item">
                <span class="project-detail-section-header-item-bold">Event Manufacturer:</span> 
                {% if  event.ae.manufacturer  %}
                    {{ event.ae.manufacturer }}
                {% else %}
                    N/A 
                {% endif %}
            </div>
            <div class="project-detail-section-header-item">
                <span class="project-detail-section-header-item-bold">Event Date:</span> 
                {% if  event.ae.event_date  %}
                    {{ event.ae.event_date }}
                {% else %}
                    N/A 
                {% endif %}
            </div>
        </div>
        <div class="message-detail-section-body">
            <div class="message-detail-section-header-item">
                <span class="message-detail-section-header-item-bold">Written Comments:</span>
            </div>
            <textarea class="message-detail-section-header-item-message" rows=5>Comments Here!</textarea>
        </div>
    </div>
    <div class="row justify-content-end w-100">
        <div class="col-6">
        </div>
        <div class="col-6">
            <form class="status-form" method="post" action="{% url 'client_portal:event_details' id=event.id %}">
                {% csrf_token %}
                <select name="state" class="event-detail-select-status">
                    {% for choice in state_choices %}
                        <option value="{{ choice.0 }} " {% if event.state == choice.0 %} selected {% endif %}> {{ choice.1 }} </option>
                    {% endfor %}
                </select>
                <button class="save-detail-btn" type="submit"> save </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}