.body-content {
    background-color: transparent;
}

.form-content {
    margin-left: 0px;
}

.table-section {
    width: calc(100% - 400px);
    height: max-content;
}

table {
    table-layout: fixed;
}

.form-content-inner {
    padding: 16px 0px;
}

.actions-section {
    width: 380px;
    margin-left: 10px;
}

.content-section {
    display: flex;
}

.body-content {
    padding: 0px;
}