<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% block title %}{% endblock %}
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% comment %} <link href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet"/> {% endcomment %}
    <link href="{% static 'css/theme/global.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/theme/layout.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/theme/help_popup.css' %}" rel="stylesheet" type="text/css" />
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="auth-container" id="accounts-pages">
      {% if form.errors %}
      <!-- <div class="errors-danger" role="alert">
        {% for errors in form.errors.values %}
          <ul>
            {% for error in errors %}
              <li> {{ error }} </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div> -->

      <toast 
        id="login-failure" 
        ref="login-failure" 
        title="Login Failure" 
        type="danger" 
        expires="100000"
        :hidden="false"
      >
        {% for errors in form.errors.values %}
          <ul style="font-size: 14px; margin-top: 10px; width: 400px;">
            {% for error in errors %}
              <li> {{ error }} </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </toast>

      {% endif %}

      {% if next %}
        {% if user.is_authenticated %}
          <div class="errors-danger" role="alert">
            * Your account doesn't have access to this page. To proceed, please login
            with an account that has access.
          </div>
        {% else %}
          <div class="errors-danger" role="alert">
            * Please login to see this page.
          </div>
        {% endif %}
      {% endif %}
      <div class="wrapper fadeInDown">
        <div id="form-content">
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div id="app-lit-review" style="position: absolute;">
      <div class="help-popup hide" id="help-popup">
        <div>
          <div class="help-popup-header">
            <div class="title">
              Help Center
            </div>
            
          </div>
          
          <div id="request-help" class="help-popup-content">

            <div class="request-help-btns">                                                                              
              <div class="help-btn-link">
                {% block 'help_section' %} {% endblock %}
              </div>

              <div class="help-btn-link" v-on:click="()=> onRequestHelp('SUPPORT_CALL','{{ request.get_full_path }}')">
                <a href="javascript:void(0);">
                    <span>Book ScreenShare Support Call</span>
                    <div>
                      <img src="{% static 'images/icons/video-icon.svg' %}">
                    </div>
                </a>
              </div>                  
            </div>

            <div class="horizantal-devider"> </div>

            <form id="form-request"  class="form help-form " method="post">
              <div class="form-title"> Or Submit a Support Request Form </div>
              <div>
                <label for="message">How can we help?</label>
                <textarea name="message" id="message" cols="30" rows="3" class="textarea" v-model="message"></textarea>
              </div>
              <div>
                <label for="demo_video">Show us the issue (Send a <span style="text-decoration: underline;color: #6D6BAF;">Loom Video</span>)</label>
                <textarea name="demo_video" id="demo_video" cols="30" rows="3" v-model="demo_video"></textarea>
              </div>

              <div class="">
                <label>How do you want us to follow-up?</label>
                <div class="follow-up">
                <div>
                  <label class="" for="call_me">
                    <input class="mr" id="call_me" type="checkbox" v-model="help_channels" value="CALL">
                    <span class="ml">  
                      Call Me
                    </span>
                  </label>
                </div>
                <div>
                  <label for="email">
                    <input class="form-check-input" id="email" type="checkbox" v-model="help_channels" value="EMAIL">
                    <span class="ml">  
                      Email
                    </span>
                  </label>
                </div>
                <div>
                  <label for="teams_meeting">
                    <input class="form-check-input" id="teams_meeting" type="checkbox" v-model="help_channels" value="MEETING">
                    <span class="ml">  
                      Teams Meeting
                    </span>
                  </label>
                </div>
              </div>
              </div>
              <input 
                type="button" 
                name="save" 
                value="Submit Form" 
                v-on:click="()=> onRequestHelp('SUPPORT_TICKET', '{{ request.get_full_path }}')" 
                class="primary-button mt-3"
                style="margin-left: auto;"
                :disabled="isSubmit"
              />
            </form>                  
          </div>

          
            
            <div class="sucess-submit hide " id="success-submit">
            <div class="form-title"> Or Submit a Support Request Form </div>
            <div>
               <div class="success-submit-text">Your request has been submitted,</div>
               <div class="message-content">we will get back to you as soon as possible with a helpful reply!</div> 
            </div>
            <img src="{% static 'images/bro.svg' %}" style="width: 75%;" >
            {% comment %} <div class="actions">
              <button class="secondary-gray-button" v-on:click="onReturnForm">
                Return
              </button>
              <button class="primary-button" v-on:click="showPopup">
                Close
              </button>
            </div> {% endcomment %}
          </div>
        </div>
      </div>

   
    <div @mousedown="onMousedown" class="help-popup-btn" id="popup-btn" v-on:click="showPopup">
      <div v-if="isshowPopup" class="help-btn-close">
        <img src="{% static 'images/icons/close-x-icon.svg' %}">
      </div>
      <img v-else src="{% static 'images/icons/popup.svg' %}">
    </div>
      
    </div>
  </body>
  
  <script>
    const HelpUrl = "{% url 'literature_reviews:anonymous_request_help_api' %}"
    const ProjectConfigUrl = "#"
    const is_archived = {{ is_archived|yesno:"true,false" }};
  </script>

  <script type="application/javascript" src="{% static 'lit_reviews/js/globe.js' %}"></script>
  {% if env == 'PROD' %}
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.7.0"></script>
  {% else %}
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>
  {% endif %}
 <script type="application/javascript" src="{% static 'vue-cdn/propper-2.11.8.min.js' %}"></script>
 <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/portal-vue@2.1.7/dist/portal-vue.umd.min.js"></script>
 <!-- <script type="application/javascript" src="{% static 'vue-cdn/bootstrap-vue-2.23.1.js' %}"></script> -->
 <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script type="application/javascript" src="{% static 'lit_reviews/vue/mixins.js' %}" > </script>
 <script type="application/javascript" src="{% static 'lit_reviews/vue/components/ui_elements.js' %}" > </script>
 <script type="application/javascript" src="{% static 'lit_reviews/vue/help_popup.js' %}"></script>
 <script type="application/javascript" src="{% static 'lit_reviews/vue/accounts.js' %}"></script>
 
 {% block 'after-body' %} {% endblock %}
 {% block 'scripts-block' %} {% endblock %}
</html>
